# Node
node_modules/
npm-debug.log

# Python
__pycache__/
*.pyc

# OS files
.DS_Store

# Terraform (future AWS step)
.terraform/
terraform.tfstate
terraform.tfstate.backup

# Logs
logs/
*.log

# Secrets
*.pem
.env

